 /* Reset */
        * { margin: 0; padding: 0; box-sizing: border-box; }

        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, lightblue, rgb(241, 188, 216));
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        .container-box {
            width: 100%;
            max-width: 450px;
            background: white;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 5px 20px rgba(0,0,0,0.80);
            background: linear-gradient(to right, rgb(214, 237, 245), rgb(246, 209, 215));
            text-align: center;
        }
        .container-box1 {
            padding: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: whitesmoke;
            border-radius: 12px;
            
        }

        .container-box img {
            width: 100px;
            margin-bottom: 10px;
            border-radius: 50px;
        }

        input {
            width: 100%;
            padding: 12px;
            margin: 15px 0;
            font-size: 16px;
            border-radius: 8px;
            border: 1px solid #ccc;
        }

        button {
            width: 100%;
            padding: 12px;
            font-size: 18px;
            background:rgb(153, 210, 229);
            border: none;
            border-radius: 8px;
            color: rgb(247, 245, 245);
            transition: 0.2s;
        }

        button:active {
            transform: scale(0.97);
        }

        h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 30px;
        background: linear-gradient(to right, rgb(190, 188, 188));
        -webkit-background-clip: text;
        color: transparent;
    }

        /* Mobile Adjustments */
        @media (max-width: 480px) {
            h1 { font-size: 22px; }
            button { font-size: 16px; }
            input { font-size: 15px; }
        }